*{
    margin: 0;
    padding: 0;
}
.firstdiv{
    height: 460px;
    /* border: 3px solid var(--black-color); */
    display: flex;
}
.first-leftdiv{
    width: 50%;
    height: 100%;
    
    background: var(--gray-color);

}
.first-rightdiv{
    width: 50%;
    height: 100%;
    
    /* using color as background */
    /* background: var(--main-color); */

    /* using image as background */
    /* background: url("./images/image1.jpg"); */

    /* using linear gradient on images */
     background: linear-gradient(to right, rgba(244, 107, 69,0.2), rgba(238, 168, 73,0.4)),url("./images/image1.jpg") ;

    background-size: cover;
    background-position: bottom left;


    /* backgroung image properties */
    /* background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover; */
}